[submodule "deps/jscoverage"]
	path = deps/jscoverage
	url = http://github.com/visionmedia/node-jscoverage.git
[submodule "./deps/argsparser"]
	path = ./deps/argsparser
	url = git@github.com:kof/node-argsparser.git
[submodule "./deps/parseropts"]
	path = ./deps/parseropts
	url = git@github.com:kof/node-argsparser.git
